[core]
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore_global
    pager = delta --color-only
[interactive]
    diffFilter = delta --color-only
[color]
	ui = auto
[alias]
	br = branch
	st = status
	rs = reset
	ps = push
	pl = pull
	rb = rebase
	co = commit
	ch = checkout
	df = diff
	wt = worktree
	ps-head = push origin HEAD --force-with-lease
	root = rev-parse --show-toplevel
[user]
	name = Shin Yamamoto
	email = shin@scenee.com
[rebase]
	autosquash = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[include]
	path = ~/.gitconfig.local
[pager]
	branch = false
[log]
	follow = true
[pull]
	ff = only
[init]
	defaultBranch = main

