[core]
	editor = vim
	ignorecase = false
[color]
	ui = auto
[alias]
	ad = add
	br = branch
	st = status
	rs = reset
	ps = push
	pl = pull
	rb = rebase
	co = commit
	cr = cherry-pick
	ch = checkout
	sm = submodule
	d = diff
	branch-root = merge-base master HEAD
	ps-head = push origin head
	pl-master = pull origin master
	pl-develop = pull origin develop
	create-pull-request = !sh -c 'stash pull-request $0'
[user]
	name = Shin Yamamoto
	email = shin@scenee.com
[rebase]
	autosquash = true
[alias]
	pbcopy = !printf "$1" | pbcopy
[tig "bind"]
	main = c ?@git pbcopy %(commit)
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
