[core]
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore_global
    pager = delta --color-only
[color]
	ui = auto
[interactive]
    diffFilter = delta --color-only
[pager]
	branch = false
[alias]
	br = branch
	st = status
	rs = reset
	ps = push
	pl = pull
	rb = rebase
	co = commit
	ch = checkout
	df = diff
	wt = worktree
	root = rev-parse --show-toplevel
	files = "!git diff --name-status \"$1\"^ \"$1\" #"


[user]
	name = Shin Yamamoto
	email = shin@scenee.com


[include]
	path = ~/.gitconfig.local


[init]
	defaultBranch = main
[log]
	follow = true
[pull]
	ff = only
[push]
	useForceIfIncludes = true
[rebase]
	autosquash = true


[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
